- for resource in resources
  %tr
    %td
      - if resource.picture
        %img.p80{:src => p80_picture_path(resource.picture, :format => :jpg)}
    %td
      #{resource.name}
      %br
      %em #{truncate(resource.description)}
    %td 
      - if resource.user
        %a{:href => admin_user_path(resource.user)} #{resource.user.name}
      - else
        (deleted)
    %td #{resource.state}
    %td
      %a.btn{:href => resource_path(resource)} View
