- @page_title = resource.title

- cache do
  .container
    .row
      .span8.offset2
        %h1= resource.title
        .textbox
          = raw resource.before_html

          #faqs
            = render resource.published_questions 

          = raw resource.after_html


