- for resource in resources
  %tr
    %td
      - if resource.picture
        %img.p80{:src => p80_picture_path(resource.picture, :format => :jpg)}
    %td
      #{resource.name}
      %br
      %em #{truncate(resource.description)}
    %td #{resource.state}
    %td
      %p
        %a.btn{:href => resource_path(resource)} View
      %p
        - if resource.lots.any?
          %a.btn{:href => resource_lots_path(resource)} View Auction Lots
        - else
          %a.btn.btn-primary(title="An Auction needs at least one Lot"){:href => new_resource_lot_path(resource)} Add Lot to Auction

