
.container
  .row
    .span8.offset2
      %h1 Welcome #{current_user.name}
  .row
    .span8.offset2
      %p
        For everyone...
      %p
        %a.btn.btn-yellow{:href => app_path} View Auctions &amp; Bidding &rarr;
      %p
        %a.btn{:href => logout_path} Logout
  .row
    .span8.offset2
      %hr
      %p
        For Auction Organisers only...
      %p
        Auction organisers please review our
        = succeed "." do 
          %a(href="https://docs.google.com/document/pub?id=1FhREBHkTAFkLI20bmnRqR7AIMu2R_kjPHQ1W3WIrDIk" target="_blank") Auction Organiser Guide

      %p
        %a.btn.btn-primary{:href => resource_auctions_path} Auction Setup
      - if current_user.is_admin?
        %hr
        %h3 Positive Admin Only Links
        - if session[:admin_id] and current_user.id != session[:admin_id]
          %p
            %a.btn.btn-primary{href: switch_user_session_path(session[:admin_id])} Switch Back to #{User.find(session[:admin_id]).name}
        %p
          %a.btn{:href => posts_path} Blog Posts Admin
          %a.btn{:href => admin_public_faqs_path} Faq Admin
        %p
          Be extremely careful with this admin stuff.
        %p
          %a.btn{:href => admin_users_path} Admin Users
          %a.btn{:href => report_admin_users_path} User Report
        %p
          %a.btn{:href => admin_auctions_path} Admin Auctions
          %a{:href => admin_auctions_path('search[state]' => 'submitted')} #{pluralize(Auction.submitted.count, "Submitted Auction")}
        %p
          %a.btn{:href => admin_lots_path} Admin Lots
          %a.btn{:href => admin_items_path} Admin Items
          %a.btn{:href => admin_bids_path} Admin Bids
        %p
          %a.btn{:href => helplinks_path} Helplinks


