
.container
  .row
    .span8.offset2
      %h1 Welcome #{current_user.name}
  .row
    .span8.offset2
      %p
        %a.btn.btn-primary{:href => app_path} Auctions &amp; Bidding &rarr;
  .row
    .span8.offset2
      %p
        %a.btn{:href => resource_auctions_path} Auction Setup
      %p
        %a.btn{:href => logout_path} Logout
      - if current_user.is_admin?
        %hr
        - if current_user.id != session[:admin_id]
          %p
            %a.btn.btn-primary{href: switch_user_session_path(session[:admin_id])} Switch Back to #{User.find(session[:admin_id]).name}
        %p
          %a.btn{:href => posts_path} Blog Posts Admin
          %a.btn{:href => admin_public_faqs_path} Faq Admin


