#auctions_index
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(href="#/reload" data-icon="home" data-direction="reverse") Reload
      %h1 Auctions

    %div(data-role="content" data-theme="b" jnif="current_user")

      %a(href="#/login" data-role="button") Login

    %div(data-role="content" data-theme="a" jif="current_user")
      %p
        Logged in and bidding as 
        %span(data-rv-text="current_user:name")
        %img.i80(data-rv-src="current_user.image_url")


      %a(data-rel="external" href="/logout" data-mini="true" data-role="button") Logout

    %div(data-role="content")

      %div(data-rv-hide="auctions:length < auctions.models")
        %p Hmmm, no auctions found.

      %ul(data-role="listview" data-inset="true" data-rv-show="auctions:length < auctions.models" data-rv-listview_refresh="auctions:length < auctions.models")
        %li(data-icon="chevron-right" data-rv-each-auction="auctions:models < auctions.models")
          %a(data-rv-href="auction:viewUrl")
            %img.p80(data-rv-src="auction:image_url") 
            %h3(data-rv-text="auction:name")
            %p
              %span(data-rv-text="auction:description")

    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

