#auctions_show
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(href="#/auctions" data-icon="back" data-direction="reverse") Auctions
      %h1 Auction

    %div(data-role="content")
      %h1(data-rv-text="auction.name")
      %p
        %span(data-rv-text="auction.description")
      %p
        %img.p200(data-rv-src="auction:imageLargeUrl < auction.picture_id")
      
      %a(data-rv-href="auction:lotsUrl" data-role="button" data-icon="arrow-r" data-iconpos="right")  View Lots

    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

