#items_show
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(data-rv-href="lot:viewUrl" data-icon="back" data-direction="reverse") Lot
      %h1 Item
      %a.status(data-icon="check" data-rv-show="status.connected") Online
      %a.status(data-icon="alert" data-rv-hide="status.connected") Offline

    %div(data-role="content")
      %h1(data-rv-text="item.name")
      %p
        %span(data-rv-text="item.description")
        %img.p200(data-rv-src="item:imageLargeUrl < item.picture_id")

      %h3 Terms
      %p
        %span(data-rv-text="item.terms")

      %h3 Collection Info
      %p
        %span(data-rv-text="item.collection_info")
      
      %h3 Donor
      %p
        %strong(data-rv-text="item.donor_name")
        %a(rel="external" data-rv-href="item.donor_website_url" data-rv-text="item.donor_website_url")


    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

