#login
  %div(data-role="page")
    %div(data-role="header")
      %a(href="#/auctions" data-icon="back" data-direction="reverse") Auctions
      %h1 PositiveBid
    %div(data-role="content")
      %p SIGN IN USING

      %p
        %a.spin(data-role="button" data-rel="external" href="/auth/twitter")
          Twitter
        %a.spin(data-role="button" href="/auth/google_oauth2")
          Google
        %a.spin.ui-disabled(data-role="button" href="#")
          facebook

      %p OR

      %p
        %a.ui-disabled(data-role="button" data-rel="external" href="/signup") CREATE ACCOUNT


