#login
  %div(data-role="page")
    %div(data-role="header")
      %h1 PositiveBid
    %div(data-role="content")
      %p SIGN IN USING

      %p
        %a.spin(data-role="button" data-rel="external" href="/auth/twitter")
          twitter
        %a.spin.ui-disabled(data-role="button" href="#")
          facebook
        %a.spin.ui-disabled(data-role="button" href="#")
          google

      %p OR

      %p
        %a.ui-disabled(data-role="button" data-rel="external" href="/signup") CREATE ACCOUNT


