#login
  %div(data-role="page")
    %div(data-role="header")
      %a(href="#/auctions" data-icon="back" data-direction="reverse") Auctions
      %h1 PositiveBid
    %div(data-role="content")
      %p Login using...

      %p
        %a.spin(data-role="button" data-rel="external" href="/auth/twitter")
          Twitter
        %a.spin(data-role="button" href="/auth/google_oauth2")
          Google or Google Apps
        %a.spin(data-role="button" href="/auth/facebook")
          facebook

      %p (Please continue using the same login account)


