#lots_show
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(data-rv-href="auction:lotsUrl" data-icon="back" data-direction="reverse") Lots
      %h1 Lot
      %a.status(data-icon="alert" data-rv-jq_a_btn_icon="status:icon < status.connected" data-rv-jq_a_btn_text="status:text < status.status" data-rv-text="status:text") Initial

    %div(data-role="content")
      %h1
        %span Lot
        %span(data-rv-text="lot.number")
        %span -
        %span(data-rv-text="lot.name")
      %p(data-rv-show="lot:is_draft < lot.state")
        %strong(data-rv-text="lot.state")
      %p(data-rv-show="lot:is_draft_or_published < lot.state")
        Bidding from 
        %span(data-rv-text="lot.sale_start_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sale_start_at" data-rv-text="lot.sale_start_at | fromNow")>
        )
        to
        %span(data-rv-text="lot.sale_end_at | nice_datetime")
      %p(data-rv-show="lot:is_forsale < lot.state")
        Closing at
        %span(data-rv-text="lot.sale_end_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sale_end_at" data-rv-text="lot.sale_end_at | fromNow")>
        )
      %p(data-rv-show="lot:is_closing < lot.state")
        %strong Closing Now!
      %p(data-rv-show="lot:is_sold < lot.state")
        %strong Sold
      %p(data-rv-show="lot:is_bought < lot.state")
        %strong Bought
      %p(data-rv-show="lot:is_bought_or_sold < lot.state")
        %span at
        %span(data-rv-text="lot.sold_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sold_at" data-rv-text="lot.sold_at | fromNow")>
        )
      %p(data-rv-show="lot:is_paid < lot.state")
        %strong Paid for
        %span at
        %span(data-rv-text="lot.paid_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.paid_at" data-rv-text="lot.paid_at | fromNow")>
        )


    %div(data-role="content" data-theme="e")
      %div.current_bid(data-rv-hide="lot.current_bid_id")
        %p No Bids yet for this lot.
      %div.current_bid(data-rv-show="lot.current_bid_id")
        %img.i80(data-rv-src="lot:current_bid_user_image_url < lot.current_bid_id")
        %strong(data-rv-text="lot:current_bid_amount < lot.current_bid_id | pound")
        %span Highest Bid by
        %span(data-rv-text="lot:current_bid_user_name < lot.current_bid_id")
        %br
        %time.fromNow(data-rv-datetime="lot:current_bid_created_at < lot.current_bid_id" data-rv-text="lot:current_bid_created_at < lot.current_bid_id | fromNow")

    %div(data-role="content" data-theme="b")
      %form(action="#/bids" method="POST")
        .ui-grid-b
          .ui-block-a
            %a(data-role="button" data-theme="d" data-rv-on-click="bid:decrement") 
              %span -
              %span(data-rv-text="lot.min_increment | pound")
          .ui-block-b
            .next_bid(data-rv-text="bid.amount | pound")
            %input#bid_amount(type="hidden" name="bid[amount]" data-rv-value="bid.amount" )
          .ui-block-c
            %a(data-role="button" data-theme="d" data-rv-on-click="bid:increment") 
              %span +
              %span(data-rv-text="lot.min_increment | pound")
        %input(type="hidden" name="bid[lot_id]" data-rv-value="lot:id")
        %input#bid_now(jif="current_user" data-theme="e" type="submit" data-rv-value="bid:bid_now < bid.amount" data-rv-jqbtntext="bid:bid_now < bid.amount" data-rv-submitdisabled="lot:isBiddingDisabled < lot.state")
        %a(jnif="current_user" data-theme="e" href="#/login" data-role="button") Login to Bid


    %div(data-role="content")
      %h2 Items
      %div(data-rv-hide="items:length < items.models")
        %p No items for this lot found.

      %ul(data-role="listview" data-inset="true" data-rv-show="items:length < items.models" data-rv-listview_refresh="items:length < items.models")
        %li(data-rv-each-item="items:models < items.models")
          %a(data-rv-href="item:viewUrl")
            %img.p80(data-rv-src="item:imageUrl < item.picture_id")
            %h3(data-rv-text="item.name")
            %p
              %span(data-rv-text="item.description")


    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

