#lot_description
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(data-rv-sam="auction:lotsUrl" data-icon="arrow-l" data-direction="reverse") Catalog
      %h1
        Lot
        %span(data-rv-text="lot.number")
        View

      %a.status(data-icon="alert" data-rv-jq_a_btn_icon="status:icon < status.connected" data-rv-jq_a_btn_text="status:text < status.status" data-rv-text="status:text") Initial

    %div(data-role="content")
      %a.right(data-inline="true" data-theme="e" data-rv-sam="lot:biddingUrl" data-role="button" data-icon="arrow-r" data-rv-jq_a_btn_icon="lot:icon < lot.state" data-iconpos="left") Bid
      %h3
        %span(data-rv-text="lot.number")>
        \:
        %span(data-rv-text="lot.name")
      %p(data-rv-show="lot:is_draft < lot.state")
        %strong(data-rv-text="lot.state")
      %p(data-rv-show="lot:is_draft_or_published < lot.state")
        %span(data-rv-show="lot:is_scheduled < lot.timing")
          Bidding from 
          %span(data-rv-text="lot.sale_start_at | nice_datetime")
          (
          %time.fromNow(data-rv-datetime="lot.sale_start_at" data-rv-text="lot.sale_start_at | fromNow")>
          )
          to
          %span(data-rv-text="lot.sale_end_at | nice_datetime")
        %span(data-rv-show="lot:is_manual < lot.timing")
          Bidding opens soon
      %p(data-rv-show="lot:is_forsale < lot.state")
        %span(data-rv-show="lot:is_scheduled < lot.timing")
          Closing at
          %span(data-rv-text="lot.sale_end_at | nice_datetime")
          (
          %time.fromNow(data-rv-datetime="lot.sale_end_at" data-rv-text="lot.sale_end_at | fromNow")>
          )
        %span(data-rv-show="lot:is_manual < lot.timing")
          Bidding open. Closing soon...
      %p(data-rv-show="lot:is_closing < lot.state")
        %strong.blink Closing Now! Last Bids...
      %p(data-rv-show="lot:is_bought_or_sold < lot.state")
        %strong(data-rv-show="lot:is_sold < lot.state") Sold
        %strong(data-rv-show="lot:is_bought < lot.state") Bought
        %span at
        %span(data-rv-text="lot.sold_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sold_at" data-rv-text="lot.sold_at | fromNow")>
        )
      %p(jif="current_user" data-rv-show="lot:i_need_to_pay < lot.state")
        %a(data-role="button" data-theme="e"  data-icon="gavel-halfway" data-iconpos="right" data-rv-sam="lot:payUrl") You Won this. Pay Now.
      %p(data-rv-show="lot:is_paid < lot.state")
        %strong Paid for
        %span at
        %span(data-rv-text="lot.paid_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.paid_at" data-rv-text="lot.paid_at | fromNow")>
        )


    %div(data-role="content" data-theme="e")
      %div.current_bid(data-rv-hide="lot.current_bid_id")
        %p No Bids yet for this lot.
      %div.current_bid(data-rv-show="lot.current_bid_id" data-rv-css_highlight="lot.current_bid_id")
        %img.i80(data-rv-src="lot:current_bid_user_image_url < lot.current_bid_id")
        %span Highest Bid
        %strong(data-rv-text="lot:current_bid_amount < lot.current_bid_id | pound")
        %span by
        %span(data-rv-text="lot:current_bid_user_name < lot.current_bid_id")
        %br
        %time.fromNow(data-rv-datetime="lot:current_bid_created_at < lot.current_bid_id" data-rv-text="lot:current_bid_created_at < lot.current_bid_id | fromNow")



    %div(data-role="content")
      %h4 
        lot items:
        %span(data-rv-text="items:length")
      %div(data-rv-hide="items:length < items.models")
        %p No items for this lot found.

      %div(data-role="collapsible-set" data-inset="false" data-theme="b")
        %div(data-role="collapsible" data-collapsed="false" data-rv-each-item="items:models < items.models")
          %h3(data-rv-text="item.name")
          %div.ibody 
            %p
              %strong(data-rv-text="item.name")
            %img.iimage.p200(data-rv-src="item:imageUrl200 < item.picture_id")
            %div.itext(data-rv-text="item.description")


    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

