#lot_pay
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(data-rv-sam="lot:descriptionUrl" data-icon="arrow-l" data-direction="reverse") Lot
      %h1
        Lot
        %span(data-rv-text="lot.number")
        Pay

      %a.status(data-icon="alert" data-rv-jq_a_btn_icon="status:icon < status.connected" data-rv-jq_a_btn_text="status:text < status.status" data-rv-text="status:text") Initial

    %div(data-role="content")
      %h1
        %span Payment for Lot&thinsp;
        %span(data-rv-text="lot.number")>
        \:
        %span(data-rv-text="lot.name")
      %p(data-rv-show="lot:is_bought_or_sold < lot.state")
        %strong(data-rv-show="lot:is_bought < lot.state") Bought
        %strong(data-rv-show="lot:is_sold < lot.state") Sold
        %span at
        %span(data-rv-text="lot.sold_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sold_at" data-rv-text="lot.sold_at | fromNow")>
        )
      %p(data-rv-show="lot:is_paid < lot.state")
        %strong Paid for
        %span at
        %span(data-rv-text="lot.paid_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.paid_at" data-rv-text="lot.paid_at | fromNow")>
        )

      %div.current_bid(data-rv-show="lot.current_bid_id")
        %img.i80(data-rv-src="lot:current_bid_user_image_url < lot.current_bid_id")
        %strong(data-rv-text="lot:current_bid_amount < lot.current_bid_id | pound")
        %span Highest Bid by
        %span(data-rv-text="lot:current_bid_user_name < lot.current_bid_id")
        %br
        %time.fromNow(data-rv-datetime="lot:current_bid_created_at < lot.current_bid_id" data-rv-text="lot:current_bid_created_at < lot.current_bid_id | fromNow")

    %div(data-rv-show="auction.manual_payment_accepted" data-role="content")
      %h4 Manual Payment
      %p.whitespacepreline(data-rv-text="auction.manual_payment_instructions")
    %div(data-rv-show="auction.justgiving_payment_accepted" data-role="content")
      %h4 Online JustGiving Payment
      %p Click here to pay now using Debit Card, Credit Card, or PayPal at the JustGiving website
      %a(data-role="button" data-theme="e" rel="external" data-rv-href="lot:justgivingUrl") JustGiving Pay Now


    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

