#lots_show
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(data-rv-href="auction:lotsUrl" data-icon="back" data-direction="reverse") Lots
      %h1 Lot

    %div(data-role="content")
      %h1
        %span Lot
        %span(data-rv-text="lot.number")
        %span -
        %span(data-rv-text="lot.name")
      %p(data-rv-show="lot:is_draft < lot.state")
        %strong(data-rv-text="lot.state")
      %p(data-rv-show="lot:is_draft_or_published < lot.state")
        Bidding from 
        %span(data-rv-text="lot.sale_start_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sale_start_at" data-rv-text="lot.sale_start_at | fromNow")>
        )
        to
        %span(data-rv-text="lot.sale_end_at | nice_datetime")
      %p(data-rv-show="lot:is_forsale < lot.state")
        Closing at
        %span(data-rv-text="lot.sale_end_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sale_end_at" data-rv-text="lot.sale_end_at | fromNow")>
        )
      %p(data-rv-show="lot:is_closing < lot.state")
        %strong Closing Now!
      %p(data-rv-show="lot:is_sold < lot.state")
        %strong Sold
      %p(data-rv-show="lot:is_bought < lot.state")
        %strong Bought
      %p(data-rv-show="lot:is_bought_or_sold < lot.state")
        %span at
        %span(data-rv-text="lot.sold_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sold_at" data-rv-text="lot.sold_at | fromNow")>
        )
      %p(data-rv-show="lot:is_paid < lot.state")
        %strong Paid for
        %span at
        %span(data-rv-text="lot.paid_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.paid_at" data-rv-text="lot.paid_at | fromNow")>
        )


    %div(data-role="content" data-theme="e")
      %div(data-rv-hide="lot.current_bid_id")
        %p No Bids yet for this lot.
      %div(data-rv-show="lot.current_bid_id")
        %img.i80(data-rv-src="lot:current_bid_user_image_url < lot.current_bid_id")
        %span Highest Bid
        %strong(data-rv-text="lot:current_bid_amount < lot.current_bid_id | pound")
        %span by
        %span(data-rv-text="lot:current_bid_user_name < lot.current_bid_id")
        %time.fromNow(data-rv-datetime="lot:current_bid_created_at < lot.current_bid_id" data-rv-text="lot:current_bid_created_at < lot.current_bid_id | fromNow")

    %div(data-role="content" data-theme="b")
      %form(action="#/bids" method="POST")
        .ui-grid-b
          .ui-block-a
            %a(data-role="button" data-theme="d") 
              %span> -
              %span(data-rv-text="lot:increment | pound")
          .ui-block-b
            %input#bid_amount(type="text" name="bid[amount]" data-rv-value="bid.amount" data-rv-class-ui-disabled="lot:isBiddingDisabled < lot.state")
          .ui-block-c
            %a(data-role="button" data-theme="d") 
              %span> +
              %span(data-rv-text="lot:increment | pound")
        %input(type="hidden" name="bid[lot_id]" data-rv-value="lot:id")
        %input#bid_now(data-theme="e" type="submit" data-rv-value="bid:bid_now < bid.amount" data-rv-jqbtntext="bid:bid_now < bid.amount" data-rv-submitdisabled="lot:isBiddingDisabled < lot.state")


    %div(data-role="content")
      %h2 Items
      %div(data-rv-hide="items:length < items.models")
        %p No items for this lot found.

      %ul(data-role="listview" data-inset="true" data-rv-show="items:length < items.models" data-rv-listview_refresh="items:length < items.models")
        %li(data-rv-each-item="items:models < items.models")
          %a(data-rv-href="item:viewUrl")
            %img.p80(data-rv-src="item:imageUrl < item.picture_id")
            %h3(data-rv-text="item.name")
            %p
              %span(data-rv-text="item.description")


    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

