#lots_show
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(data-rv-href="auction:lotsUrl" data-icon="arrow-l" data-direction="reverse") Catalog
      %h1 
        Lot
        %span(data-rv-text="lot.number")
        Bids
      %a.status(data-icon="alert" data-rv-jq_a_btn_icon="status:icon < status.connected" data-rv-jq_a_btn_text="status:text < status.status" data-rv-text="status:text") Initial

    %div(data-role="content")
      %a.right(data-inline="true" data-rv-href="lot:descriptionUrl" data-role="button" data-icon="arrow-l" data-iconpos="left") View
      %h2
        %span(data-rv-text="lot.number")>
        \:
        %span(data-rv-text="lot.name")
      %p(data-rv-show="lot:is_draft < lot.state")
        %strong(data-rv-text="lot.state")
      %p(data-rv-show="lot:is_draft_or_published < lot.state")
        %span(data-rv-show="lot:is_scheduled < lot.timing")
          Bidding from 
          %span(data-rv-text="lot.sale_start_at | nice_datetime")
          (
          %time.fromNow(data-rv-datetime="lot.sale_start_at" data-rv-text="lot.sale_start_at | fromNow")>
          )
          to
          %span(data-rv-text="lot.sale_end_at | nice_datetime")
        %span(data-rv-show="lot:is_manual < lot.timing")
          Bidding opens soon 
      %p(data-rv-show="lot:is_forsale < lot.state")
        %span(data-rv-show="lot:is_scheduled < lot.timing")
          Closing at
          %span(data-rv-text="lot.sale_end_at | nice_datetime")
          (
          %time.fromNow(data-rv-datetime="lot.sale_end_at" data-rv-text="lot.sale_end_at | fromNow")>
          )
        %span(data-rv-show="lot:is_manual < lot.timing")
          Bidding open. Closing soon...
      %p(data-rv-show="lot:is_closing < lot.state")
        %strong 
          Closing Now! Final bids...
      %p(data-rv-show="lot:is_bought_or_sold < lot.state")
        %strong(data-rv-show="lot:is_sold < lot.state") Sold
        %strong(data-rv-show="lot:is_bought < lot.state") Bought
        %span at
        %span(data-rv-text="lot.sold_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.sold_at" data-rv-text="lot.sold_at | fromNow")>
        )
      %p(jif="current_user" data-rv-show="lot:i_need_to_pay < lot.state")
        %a(data-role="button" data-theme="e"  data-icon="gavel-down" data-iconpos="right" data-rv-href="lot:payUrl") You Won this. Pay Now.

      %p(data-rv-show="lot:is_paid < lot.state")
        %strong Paid for
        %span at
        %span(data-rv-text="lot.paid_at | nice_datetime")
        (
        %time.fromNow(data-rv-datetime="lot.paid_at" data-rv-text="lot.paid_at | fromNow")>
        )


    %div(data-role="content" data-theme="e")
      %div.current_bid(data-rv-hide="lot.current_bid_id")
        %p No Bids yet for this lot.
      %div.current_bid(data-rv-show="lot.current_bid_id")
        %img.i80(data-rv-src="lot:current_bid_user_image_url < lot.current_bid_id")
        %strong(data-rv-text="lot:current_bid_amount < lot.current_bid_id | pound")
        %span Highest Bid by
        %span(data-rv-text="lot:current_bid_user_name < lot.current_bid_id")
        %br
        %time.fromNow(data-rv-datetime="lot:current_bid_created_at < lot.current_bid_id" data-rv-text="lot:current_bid_created_at < lot.current_bid_id | fromNow")

    %div(data-role="content" data-theme="b")
      %form(action="#/bids" method="POST")
        .ui-grid-b
          .ui-block-a
            %a(data-role="button" data-theme="d" data-rv-on-click="bid:decrement") 
              %span -
              %span(data-rv-text="lot.min_increment | pound")
          .ui-block-b
            .next_bid(data-rv-text="bid.amount | pound")
            %input#bid_amount(type="hidden" name="bid[amount]" data-rv-value="bid.amount" )
          .ui-block-c
            %a(data-role="button" data-theme="d" data-rv-on-click="bid:increment") 
              %span +
              %span(data-rv-text="lot.min_increment | pound")
        %input(type="hidden" name="bid[lot_id]" data-rv-value="lot:id")
        %a#bid_now(jif="current_user" data-role="button" data-theme="e"  data-rv-jq_a_btn_text="bid:bid_now < bid.amount" data-icon="gavel-halfway" data-iconpos="right" data-rv-show="lot:isBiddingOpen < lot.state") Bid Now
        %a.ui-disabled(jif="current_user" data-role="button" data-theme="e" type="submit" data-icon="gavel-up" data-iconpos="right" data-rv-show="lot:isBiddingPreSale < lot.state") Bids not yet open
        %a.ui-disabled(jif="current_user" data-role="button" data-theme="e" type="submit" data-icon="gavel-down" data-iconpos="right" data-rv-show="lot:isBiddingPostSale < lot.state") Bidding now closed
        %a(jnif="current_user" data-theme="e" href="#/login" data-role="button" data-icon="gavel-up" data-rv-jq_a_btn_icon="lot:icon < lot.state" data-iconpos="right") Login to Bid

    %div(data-role="content")

    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

