#lots_index
  %div(data-role="page")
    %div.ui-bar-b(data-role="header" data-theme="b")
      %a(href="#/" data-icon="home" data-direction="reverse") Home
      %h1 Lots
      %a(data-rv-href="auction:newLotUrl" data-icon="plus") Add Lot

    %div(data-role="content")
      %div(data-rv-hide="lots:length < lots.models")
        %p Hmmm, no lots found.

      %ul(data-role="listview" data-inset="true" data-rv-show="lots:length < lots.models" data-rv-listview_refresh="lots:length < lots.models")
        %li(data-icon="chevron-right" data-rv-each-lot="lots:models < lots.models")
          %a(data-rv-href="lot:viewUrl")
            %img.p80(data-rv-src="lot:image_url") 
            %h3(data-rv-text="lot.name")
            %p
              %span(data-rv-text="lot.description")

    %div.ui-bar-b(data-role="footer")
      %h4 PositiveBid

