#options
  %div(data-role="page")
    %div(data-role="header")
      %a(sam="#/auctions" data-icon="back" data-direction="reverse") Auctions
      %h1 PositiveBid
    %div(data-role="content")
      %b Please sign in.
       
    %div(data-role="content")


      %div(data-role="collapsible-set" data-theme="e")
        %div(data-role="collapsible")
          %h3 Settings
          %ul(data-role="listview" data-divider-theme="b" data-inset="true")
            %li(data-theme="c")
              %a(sam="#/auctions" data-transition="slide") Bid confirmation
            %li(data-theme="c")
              %a(sam="#/auctions" data-transition="slide") Share confirmation
            %li(data-theme="c")
              %a(sam="#/auctions" data-transition="slide") Outbid message
            %li(data-theme="c")
              %a(sam="#/auctions" data-transition="slide") Multi-item Lot message




      %div(data-role="collapsible-set" data-theme="e")
        %div(data-role="collapsible")
          %h3 Explanation of application
          %div(data-role="collapsible-set")
            - if efaq = Faq.where(:key => 'explanation').first
              - efaq.published_questions.each do |q|
                %div(data-role="collapsible")
                  %h3 #{q.title}
                  %div.qbody #{q.body}

      %div(data-role="collapsible-set" data-theme="e")
        %div(data-role="collapsible")
          %h3 Other
          %ul(data-role="listview" data-divider-theme="b" data-inset="true")
            %li(data-theme="c")
              %a(sam="#/auctions" data-transition="slide") Bid confirmation
            %li(data-theme="c")
              %a(sam="#/auctions" data-transition="slide") Share confirmation


