#popups_message
  %div(data-role="popup" class="ui-content")
    %a(href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right")
    %h3(jtext="title")
    %span(jtext="message")

