#popups_user_entered
  %div(data-role="popup" class="ui-content")
    %a(data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right")
    %img(data-rv-src="user:image")
    %h3(data-rv-text="user:name")
    %span has just entered the auction

