%p 
  Dear #{@user.first_name},
%p
  Your account is active and you can now login 
  %a{:url => login_url} here.

%p
  Any questions, just ask!

%p
  thanks!
  %br/
  PositiveBid
  %br/
  %a{:mailto => 'info@positivebid.com'} info@positive.com

