- %w( login email old_email name description telephone time_zone twelve_hour_time paper_size color_print private_message_notification friend_request_notification confirmed_shift_notification send_icalendar_attachments show_tooltips reminder_emails  show_call_and_sms_links show_skype_links public_profile rotaville_notification).each do |word|
  = f.input word
