
- @page_title = "PositiveBid: About Us"

.outer-white
  .container.about-img
    .row.pfirstrow
      .span4
        %img.home_logo(alt="positivebid logo"){:src => image_path("logo/positivebid_128.png") }
        %h1.lato
          %span.trns_blkbox About us
      .span8
        

.outer-white
  .container
    .row.pinforow
      .span4
        %h4 Charity Hack Start
        %p  PositiveBid started as an entry in PayPal’s CharityHack coding event held in September 2011 at their offices in Richmond, West London. Our real-time auction application won first prize in the competition!
        

      .span4
        %h4 Next Nesta
        %p  Nesta and the Cabinet Office awarded grant funding in July 2012 for PositiveBid to develop a free of charge application enabling charities in England and Wales to run silent auctions on mobile devices.
        

      .span4
        %h4 Now PositiveBid
        %p  We are now entering the trial phase of our project and are looking to partner with charitable fundraisers that would like to raise additional funds at an event before Christmas by using our application.nd social media updates and pay for items with PositiveBid.
        

    .row.pinforow
      .span4
        %a{:href => "http://charityhack.org/"}
          %img{:alt => "charityhack logo", :src =>"img/logo/charityhack_logo.png"}/
          %img{:alt => "paypal logo", :src => "img/logo/paypal_logo_115.png"} 

      .span4
        %a{:href => "http://www.nesta.org.uk/"}
          %img{:alt => "nesta logo", :src => "img/logo/nesta_logo.jpg"}/ 

      .span4
        %img.home_logo{:width => "100px", :height => "100px", :alt => "positivebid log", :src => image_path("logo/positivebid_128.png") }

           
    

.outer-grey
  .container
    .row.pfooter
      .span12
        %p
          &copy; #{Time.now.year} PositiveBid Limited
