
- @page_title = "PositiveBid: About Us"

.outer-white.aboutus
  .container
    .row.pfirstrow
      .span6
        %a(href="/" title="PostiveBid Charity Auction Software HomePage")
          %img.home_logo(alt="positivebid logo"){:src => image_path("logo/positivebid_128.png") }
        %h1.lato
          %span.drop_shadowblk1 About us
      .span6
        

.outer-white
  .container
    .row.pinforow
      .span4
        %h3 Started at Charity Hack
        %p  PositiveBid started as an entry in PayPal’s CharityHack coding event held in September 2011 at their offices in Richmond, West London. Our real-time auction application won first prize in the competition!
        %span.chandpp_logo
          %a{:href => "http://charityhack.org/"}
            %img.charityhack_logo{:alt => "charityhack logo", :src =>"img/logo/charityhack_logo_130.png"}/
          %img.paypal_logo{:alt => "paypal logo", :src => "img/logo/paypal_logo_115.png"}/ 
        

      .span4
        %h3 Funded by Nesta
        %p  Nesta and the Cabinet Office awarded grant funding in July 2012 for PositiveBid to develop a free of charge application enabling charities in England and Wales to run silent auctions on mobile devices.
        %a{:href => "http://www.nesta.org.uk/"}
          %img.nesta_logo{:alt => "nesta logo", :src => "img/logo/nesta_logo_120.png"}/ 
        

      .span4.positivelogo
        %h3 PositiveBid is Live
        %p  
          PositiveBid is now available for you to use for your next charity auction. Organisers can 
          %a{:href => login_url} Login 
          to get started. If you have any questions then you can 
          %strong contact us
          by email
          = succeed "." do 
            %a{:mailto => 'info@positivebid.com'} info@positivebid.com
        %img.home_logo{:alt => "positivebid log", :src => image_path("logo/positivebid_128.png") }/
    
           
    

.outer-grey.spacing
  .container
    .row.pfooter
      .span12
        %p
          &copy; #{Time.now.year} PositiveBid Limited
