
- @page_title = "PositiveBid: About Us"

.container
  .row
    .span12
      %p.demotop 
        %img.home_logo.left(alt="positivebid logo"){:src => image_path("logo/positivebid_128.png") }
        Charity Auction Software
      %h1 www.positivebid.com
      %p
        Wifi 
        %strong CampusGuest-FAST 
        or
        %strong CampusGuest
      %p
        or your mobile
        %em
          %strong 3G
        connection
      
      %p


  .row
    .span12
      %h4 Launching soon
      %p.demosize  We are now entering the trial phase of our project and are looking to partner with charitable fundraisers that would like to raise additional funds at an event before Christmas by using our application.

  .row
    .span12
      %p.demosize
        %strong info@positivebid.com
  .row
    .span12
      %p.demosize
        %strong @positivebid
  .row
    .span12
      %p.demosize
        %strong PositiveBid
        on facebook
  
  .row
    .span12
      %p Funded by
      %a{:href => "http://www.nesta.org.uk/"}
        %img.nesta_logo{:alt => "nesta logo", :src => "img/logo/nesta_logo_120.png"}/ 
      
           
    

