.outerwhite.home
  .container
    .row.pfirstrow
      .hidden-phone
        .span6
          %img.home_logo{:src => image_path("logo/positivebid_128.png") }
          %h3.lato
            %span.drop_shadowblk1.tagline 
              Interactive 
              Silent Auctions

          %h1.drop_shadowblk1.hidden-phone  A free, fun, mobile & social way of raising funds for charity

          .buttonrow   
            %p.linkonleft      
              %a.btn.btn-xxlarge.btn-yellow.btn-bold(href="/app")  View Auction

             
            %p.bigor
              or

            %p.linkonright        
              %a.linkcontact.pyellow(href="mailto:info@positivebid.com") 
                %span.bigcontact Contact Us
                %br/
                To organise an auction 

        .span6
          .home-vidouter
            <iframe class="home-vid" src="http://player.vimeo.com/video/30516030" width="480" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>          


      .visible-phone          
        .span6
          .promorow
            %img.home_logo{:src => image_path("logo/positivebid_128.png") }
            %p.lato
              .drop_shadowblk1.tagline 
                Charity Auction Software
     
          %h1.drop_shadowblk1
            A free, fun, mobile & social way of raising funds for charity

          %p
            %a.btn.btn-block.btn-pmobile.videobtn(href="http://vimeo.com/30516030")
              %i.icon-film
              Watch Video Now
              %i.icon-play
              
          %p     
            %a.btn.btn-large.btn-yellow.btn-bold.btn-block.btn-pmobile(href="/app")  View Auction

          %p       
            %a.btn.btn-large.btn-yellow.btn-bold.btn-block.btn-pmobile.btn-tieredmob(href="mailto:info@positivebid.com") 
              Contact Us 
              %br/
              %span.smltxt-inbtn To organise an auction           
 
        
.outer-white
  .container
    .row.pinforow
      .span4
        %h3 PositiveBid is Free
        %p  PositiveBid brings interactive online auction technology to mobile devices. It drives promotion, participation and increases funds raised at silent auctions. It is FREE to event organisers fundraising for a registered charity or non-profit organisation.
      .span4
        %h3 Easy for Organisers
        %p  PositiveBid simplifies the process of organising events. It is suitable for any event, from charity balls to golf days. Organisers can create a catalogue, event home page, take payment online and track payments easily with PositiveBid.

      .span4
        %h3 Fun for Bidders
        %p  Bidders can access the auction through any device connected to the web. Anyone can participate whether at the event or at home. Browse the catalogue, bid on items, send social media updates and pay for items with PositiveBid.

.outer-grey.spacing
  .container
    .row.pfooter
      .span12
        %p
          &copy; #{Time.now.year} PositiveBid Limited.
  

