.outer-root
  .container
    .row.pfirstrow
      .span4
        %img.home_logo{:src => image_path("logo/positivebid_rounded_128.png") }
        %h1.lato.pyellow PositiveBid.
        %h2.lato A better way of fundraising. 
        %h3.lato Launching soon.
      .span8
        <iframe src="http://player.vimeo.com/video/30516030" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

.outer-white
  .container
    .row.pinforow
      .span4
        %h4 What is PositiveBid
        %p  PositiveBid brings interactive online auction technology to mobile devices. It drives promotion, participation and increases funds raised at silent auctions. It is FREE to event organisers fundraising for a registered charity.
      .span4
        %h4 Easy for Organisers
        %p  PositiveBid simplifies the process of organising events. It is suitable for any event, from charity balls to golf days. Organisers can create a catalogue, event home page, take payment online and track payments easily with PositiveBid.

      .span4
        %h4 Fun for Bidders
        %p  Bidders can access the auction through any device connected to the web. You can participate whether at the event or at home. Browse the catalogue, bid on items, send social media updates and pay for items with PositiveBid.
    .row.pinforow
      .span4.offset4
        %p 
          %a.btn.btn-success(href="mailto:info@positivebid.com") Contact Us

.outer-grey
  .container
    .row.pfooter
      .span12
        %p
          &copy; #{Time.now.year} PositiveBid Limited.
  

