.outerwhite.home
  .container
    .row.pfirstrow
      .span6
        %img.home_logo{:src => image_path("logo/positivebid_128.png") }
        %h3.lato.pyellow
          %span.trns_blkbox.tagline 
            Interactive 
            Silent Auctions

        %h1.lato.trns_blkbox  A free, fun, mobile & social way of raising funds for charity
        
        .buttonrow   
          %p.linkonleft      
            %a.btn.btn-xxlarge.btn-yellow.btn-bold(href="/app")  View Auction

           
          %p.bigor
            or

          %p.linkonright        
            %a.linkcontact(href="mailto:info@positivebid.com") 
              %span.bigcontact Contact Us
              %br/
              To organise an auction 
              
      .span6
        .hidden-phone
          <iframe class="home-vid" src="http://player.vimeo.com/video/30516030" width="480" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        .visible-phone
          %p.phonelink
            %span.lead.trns_blkbox
              Watch our video - real-time bidding and participation
              %a.btn(href="http://vimeo.com/30516030")
                Watch Now on Vimeo
                %i.icon-film

.outer-white
  .container
    .row.pinforow
      .span4
        %h3 PositiveBid is Free
        %p  PositiveBid brings interactive online auction technology to mobile devices. It drives promotion, participation and increases funds raised at silent auctions. It is FREE to event organisers fundraising for a registered charity or non-profit organisation.
      .span4
        %h3 Easy for Organisers
        %p  PositiveBid simplifies the process of organising events. It is suitable for any event, from charity balls to golf days. Organisers can create a catalogue, event home page, take payment online and track payments easily with PositiveBid.

      .span4
        %h3 Fun for Bidders
        %p  Bidders can access the auction through any device connected to the web. Anyone can participate whether at the event or at home. Browse the catalogue, bid on items, send social media updates and pay for items with PositiveBid.

.outer-grey.spacing
  .container
    .row.pfooter
      .span12
        %p
          &copy; #{Time.now.year} PositiveBid Limited.
  

