

.ui-icon-gavel-up {
  background-image: image-url("icon/gavel_icon_1_white_18px.png");
}
.ui-icon-gavel-halfway {
  background-image: image-url("icon/gavel_icon_3_white_18px.png");
}
.ui-icon-gavel-closing {
  background-image: image-url("icon/gavel_icon_5_white_18px.png");
}
.ui-icon-gavel-down {
  background-image: image-url("icon/gavel_icon_7_white_18px.png");
}

.ui-icon-gavel-up-blk {
  background-image: image-url("icon/gavel_icon_1_black_18px.png");
}
.ui-icon-gavel-halfway-blk {
  background-image: image-url("icon/gavel_icon_3_black_18px.png");
}
.ui-icon-gavel-closing-blk {
  background-image: image-url("icon/gavel_icon_5_black_18px.png");
}
.ui-icon-gavel-down-blk {
  background-image: image-url("icon/gavel_icon_7_black_18px.png");
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-icon-gavel-up {
    background-image: image-url("icon/gavel_icon_1_white_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-halfway {
    background-image: image-url("icon/gavel_icon_3_white_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-closing {
    background-image: image-url("icon/gavel_icon_5_white_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-down {
    background-image: image-url("icon/gavel_icon_7_white_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-up-blk {
    background-image: image-url("icon/gavel_icon_1_black_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-halfway-blk {
    background-image: image-url("icon/gavel_icon_3_black_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-closing-blk {
    background-image: image-url("icon/gavel_icon_5_black_36px.png");
    background-size: 18px 18px;
  }
  .ui-icon-gavel-down-blk {
    background-image: image-url("icon/gavel_icon_7_black_36px.png");
    background-size: 18px 18px;
  }
}

