@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";

@pyellow1: #FFFF33;
@pyellow2: #FDF950;

/* set styles */

.lato {
  font-family: 'Lato', sans-serif; }

.pyellow {
  color: @pyellow1; }  


/**********/  

body {
  background: #FFF; }

.row {
  background: #FFF; }

.pfirstrowwhite {
  padding: 0; 
}

.outer-white {
  background: #FFF; 
  color: #000; }

.outer-grey {
  background: #AAA; 
  color: #000; }

.outer-black {
  background: #000; 
  color: #FFF; }

.drop_shadowblk1 {
  text-shadow: 1px 1px 1px #000;
}





.home {
  color: #FFF;
  background-color: #fff;
  background-image: url('/img/108354487-handsup-1200c.png') ;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top:-20px; 
  .row {
    background: none;
    /*
    background-attachment: inherit;
    background-clip: inherit;
    background-color: transparent;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    */
    }
}

.aboutus {
  color: #FFF;
  background: #fff; 
  background-image: url('/img/banner_charities_1200.png');
  background-position: top center;
  background-position-x: center;
  background-position-y: -70px;
  background-repeat: no-repeat;
  margin-top:-20px;
  /*height: 380px;*/
  height: 300px;
  .row {
    background-attachment: inherit;
    background-clip: inherit;
    background-color: transparent;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    }
}


.pfirstrow {
  padding: 0; 

  .home_logo {
    width: 110px;
    height: 110px;
    margin: -25px 0 10px 0;}
}

.pinforow {
  background: #FFF;
  padding: 2em 0; 
}


.home h1 {
  line-height: 1.2em;
  margin-top: 25px;
}

.tagline {
 margin-top: -15px;
 margin-bottom:15px;
 display:block;
 width:180px;
 line-height:1em;
 text-align:center;
 color:yellow;
}   

.home .visible-phone {

  h1 {
  line-height: 1.2em;
  margin-top: 25px;
  font-size:28px;
  margin-top:15px;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  display:block;
  text-align:center;
  }

  .tagline {
  font-size:20px;
  font-weight:bold;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
  display:block;
  width:100%; 
  }

  .home_logo {
  width:100px;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  display:block; 
  }

  .bigcontact {
  font-size:17px;
  }

}  


.btn-pmobile {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  .border-radius(25px);
   }

.btn-tieredmob {
  line-height:0.9em;
  padding-top:1.2%;
  padding-bottom:1.2%;
  }

.smltxt-inbtn {
  font-weight:normal;
  font-size:13px;
 } 

/*.home .videobtn {
border:yellow solid 1px;
width:75%;
margin-left:15%;
margin-right:15%;
color:yellow;
background-color:black;
background-image:none;
}*/

.demosize {
  font-size: larger; }

.log {
  white-space: pre-line; }

.demotop {
  img {
    float: left; 
    margin: 0 5px 5px 0; }
  font-size: 2em;
  line-height: 200%;
	width: 100%;
  margin: 0 0 1em 0;

}

.home-vid {
  border: 5px solid #fff;
  margin: 50px 5px 5px 5px;
  display: block;

}

.home .btn-xxlarge {
  margin-bottom:20px;
}

.lead {
background-color:black;
margin-top:0px
}

.linkonleft {
  width:40%;
  float:left;
  display:block;
  }

.bigor {
  font-size: 1.6em;
  width:20%;
  float:left;
  text-align:center;
  display:inline-block;
 }


.linkonright {
  width:40%;
  float:left;
  text-align: center;
  }



 .bigcontact {
 font-size:20px;
 font-weight:bold;
 }

 .smlorganise {
 font-weight:normal;
 font-size:13px;
 }

 .contactus{
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  text-align:center;
 }

.videobtn_background  {
  background-color:black;
  clear:left;
  display:block;
  }

a.linkcontact:hover {
  color:#ccc;
}

.positivelogo .home_logo, .span4 .nesta_logo, .span4 .chandpp_logo {
  /*margin-left:auto;
  margin-right:auto;
  display:block;*/
} 

.positivelogo .home_logo {
  margin-top: 15px;
  width: 95px;
  height: 95px;
  }

.span4 .nesta_logo {
  margin-top: 35px;
}

.span4 .chandpp_logo{
  width:70%;
  margin-top: 25px;
  display: block;
  }



.pfooter {
  padding: 10px 0 0 0; 
  text-align: left;
  color: #000;
  background: #AAA; 
}

.outer-grey.spacing {
  margin-top:40px;
}


/*
** bootstrap overrides
*/

.btn-yellow {
  .buttonBackground( @pyellow1 , darken(@pyellow1, 15%), @grayDark , 0 1px 1px rgba(255,255,255,.75) );
}

.btn-bold {
  font-weight: bold; 
}

.btn-xxlarge {
    font-size: 20px;
    line-height: normal;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right:17px;
    padding-top: 12px;
}

.btn-helplink {
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 2px;
}

/*
** bootstrap overrides
*/

.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.85); }

.popover-content p, .popover-content ul, .popover-content ol {
  margin-bottom: 10px; }

/*
** internal pages
*/

.clearleft {
  clear: left; }

.clear {
  clear: both; }

.right {
  float: right; }

.max-width {
  width: 100%; }


.handle { /* drag 'n' drop */
  cursor: move;  }




