@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";

@pyellow1: #FFFF33;
@pyellow2: #FDF950;

body {
  background: #FFF; }

.row {
  background: #FFF; }

.pfirstrowwhite {
  padding: 0; 
}

.outer-root {
  color: #FFF;
  background: #000; 
  background-image: url('/img/108354487-handsup-1400b.png') ;
  background-repeat: no-repeat;
  background-repeat: repeat-x; 
  .row {
    background: inherit; }

}

.outer-white {
  background: #FFF; 
  color: #000; }

.outer-grey {
  background: #AAA; 
  color: #000; }

.outer-black {
  background: #000; 
  color: #FFF; }

.trns_blkbox {
 background: rgba(0, 0, 0, 0.6);
 padding: 10px;
}  

.pfirstrow {
  padding: 0; 

  .home_logo {
    width: 128px;
    height: 128px;
    margin: 0 0 10px;  }
}

.pinforow {
  background: #FFF;
  padding: 2em 0; 
}

.about-img {
  color: #FFF;
  background: #fff; 
  background-image: url('/img/banner_charities.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  .row {
    background: inherit; }
    }

.span4.img {
  margin: auto;}


.pyellow {
  color: @pyellow1; }

.pfooter {
  padding: 10px 0 0; 
  text-align: center;
  color: #000;
  background: #AAA; 
}


.lato {
  font-family: 'Lato', sans-serif; }


.btn-yellow {
  .buttonBackground( @pyellow1 , darken(@pyellow1, 15%), @grayDark , 0 1px 1px rgba(255,255,255,.75) );
}

.btn-bold {
  font-weight: bold; 
}

/*
** bootstrap overrides
*/

.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.85); }


/*
** internal pages
*/

.clearleft {
  clear: left; }

.max-width {
  width: 100%; }


.handle { /* drag 'n' drop */
  cursor: move;  }




