@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";


body {
  background: #FFE; }

.row {
  background: #FFF; }

.pfirstrow {
  padding: 2em 0; 
  color: #FFF;
  background: #000; 

  .home_logo {
    width: 128px;
    height: 128px;
    margin: 0 0 10px;  }
}

.pinforow {
  padding: 2em 0; 
}

.pyellow {
  color: #FFFF33; }

.pfooter {
  padding: 10px 0 0; 
  text-align: center;
  color: #000;
  background: #999; 
}


/*
** internal pages
*/

.clearleft {
  clear: left; }

.max-width {
  width: 100%; }


