

.clear {
	clear:both;}

.next_bid {
  width: 100%;
  text-align: center;
  margin: 1.0em 0;
  font-size: larger;
  font-weight: bold; }

img.i300 {
  width: 300px;
  height: 300px; }

img.p200 {
  width: 200px;
  height: 200px; }

img.i150 {
  width: 150px;
  height: 150px; }

img.i80, img.p80 {
  width: 80px;
  height: 80px; }

