
.clear {
	clear:both;}

.right {
	float: right;}

.next_bid {
  width: 100%;
  text-align: center;
  margin: 1.0em 0;
  font-size: larger;
  font-weight: bold; }

.current_bid {
  img {
    float: left;
    margin-right: 1em; }
  time {
    font-size: small; } }

.qbody, .whitespacepreline {
  white-space: pre-line;
}

.ibody {
  width: 100%;
  .iimage {
    background: #999; 
    background: rgba(0,0,0,0.3);
    margin: 0 5px 5px 5px;  }
  .itext {
    white-space: pre-line; }
}

img.i300 {
  width: 300px;
  height: 300px; }

img.p200 {
  width: 200px;
  height: 200px; }

img.p320 {
  width: 320px;
  height: 320px; }

img.i150 {
  width: 150px;
  height: 150px; }

img.i80, img.p80 {
  width: 80px;
  height: 80px; }

.transition {
  -moz-transition: all 3s; /* Firefox 4 */
  -webkit-transition: all 3s; /* Safari and Chrome */
  -o-transition: all 3s; /* Opera */
  transition: all 3s;
}

.change {
  background: yellow;
  font-weight: bold; 
}

  
